<!doctype html>

<head>
    <title>Search Results</title>
</head>

<body bgcolor="#CCFFCC">

<h1>Search results for "{{ query }}":</h1>
<p>{{ num_res }} results found</p>
{% if empty %}
    <p>Sorry, we couldn't find any results for that query. Try again:</p>
{% else %}
    <ol>
        {% for res in results %}
	        <li>
                {{ res[0] }}
                <ul>
                    {% for rev in res[1] %}
                        <li>
                            <a href="/{{ rev }}">{{ rev }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ol>
{% endif %}
{% if prev_button %}
    <form action='/results/{{ page - 1 }}' name="prev10" method="get">
        <dl>
            <dd><input type="submit" value="Previous">
        </dl>
    </form>
{% endif %}
{% if next_button %}
    <form action='/results/{{ page + 1 }}' name="next10" method="get">
        <dl>
            <dd><input type="submit" value="Next">
        </dl>
    </form>
{% endif %}

<form action='/results') name="search" method="post">
    <table>
        <tr>
            <td>Key words:</td>
            <td colspan="2"><input type="text" name="textq" size="49" value="{{ queries[0] }}"></td>
        </tr>
        <tr>
            <td>Date:</td>
            <td><input type="text" name="date_min" value="{{ queries[1] }}"> - </td>
            <td><input type="text" name="date_max" value="{{ queries[2] }}"></td>
        </tr>
        <tr>
            <td>Stars Given:</td>
            <td><input type="text" name="stars_min" value="{{ queries[3] }}"> - </td>
            <td><input type="text" name="stars_max" value="{{ queries[4] }}"></td>
        </tr>
        <tr>
            <td>Location:</td>
            <td>within <input type="text" name="miles" size="8" value="{{ queries[5] }}"> miles of </td>
            <td><input type="text" name="zip_code" value="{{ queries[6] }}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Search"></td>
        </tr>
    </table>
</form>

</body>