<!doctype html>

<head>
    <title>Search Results</title>
</head>

<body bgcolor="#CCFFCC">

<h1>Search results for "{{ query }}":</h1>
<p>{{ num_res }} results found</p>
{% if empty %}
    <p>Sorry, we couldn't find any results for that query. Try again:</p>
{% else %}
    <ul>
        {% for res in results %}
	        <li>
                <a href="/{{ res }}">{{ res }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% if prev_button %}
    <form action='/results/{{ page - 1 }}' name="prev10" method="get">
        <dl>
            <dd><input type="submit" value="Previous">
        </dl>
    </form>
{% endif %}
{% if next_button %}
    <form action='/results/{{ page + 1 }}' name="next10" method="get">
        <dl>
            <dd><input type="submit" value="Next">
        </dl>
    </form>
{% endif %}

<form action='/results') name="search" method="post">
    <dl>
        <dt>Key words:
        <dd><input type="text" name="textq" value="{{ queries[0] }}">
        <dt>Min Date:
        <dd><input type="text" name="date_min" value="{{ queries[1] }}">
        <dt>Max Date:
        <dd><input type="text" name="date_max" value="{{ queries[2] }}">
        <dt>Minimum Stars Given:
        <dd><input type="text" name="stars_min" value="{{ queries[3] }}">
        <dt>Maximum Stars Given:
        <dd><input type="text" name="stars_max" value="{{ queries[4] }}">
        <dd><input type="submit" value="Search">
    </dl>
</form>

</body>