<!doctype html>

<head>
    <title>2016 Movie Search</title>
</head>

<body bgcolor="#E6E6FA">

<h1>Hospital Search</h1>

<p>Use the search boxes to look for hospital reviews.</p>

<form action='/results' name="search" method="post">
    <table>
        <tr>
            <td>Key words:</td>
            <td colspan="2"><input type="text" name="textq" size="49"></td>
        </tr>
        <tr>
            <td>Date:</td>
            <td><input type="text" name="date_min"> - </td>
            <td><input type="text" name="date_max"></td>
        </tr>
        <tr>
            <td>Stars Given:</td>
            <td><input type="text" name="stars_min"> - </td>
            <td><input type="text" name="stars_max"></td>
        </tr>
        <tr>
            <td>Location:</td>
            <td>within <input type="text" name="miles" size="8"> miles of </td>
            <td>City: <input type="text" name="city"></td>
            <td>State: <input type="text" name="state"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Search"></td>
        </tr>
    </table>
</form>


</body>